:root {
  --logo-url: url('../assets/holberton-logo.jpg');
}

#logo {
  width: 200px;
  height: 200px;
  background-image: var(--logo-url);
  background-size: 200px 200px;
}

#count {
  display: inline;
  font-weight: bold;
  margin: 0;
}
